# yaml-language-server: $https://www.schemastore.org/pre-commit-config.json

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v2.3.0
    hooks:
      - id: check-yaml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: check-merge-conflict
  - repo: https://github.com/astral-sh/ruff-pre-commit
    # Ruff version.
    rev: v0.6.2
    hooks:
      # Run the linter.
      - id: ruff
        args: [--fix]
      # Run the formatter.
      - id: ruff-format
  - repo: https://github.com/Yelp/detect-secrets
    rev: v1.5.0
    hooks:
    - id: detect-secrets
      args: ['--baseline', '.secrets.baseline']
  - repo: local
    hooks:
      - id: uv-export
        name: Export requirements to requirements.txt
        entry: bash -c 'uv export --format requirements.txt --no-dev --no-hashes > requirements.txt'
        language: system
        types: [python]
        pass_filenames: false
      - id: mypy
        name: Run mypy type checker
        entry: mypy
        language: system
        types: [python]
