{% extends "account/email/base_message.html" %}
{% load i18n %}

{% block content %}

<div
  style="
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 16px 24px 16px 24px;
  "
>
  {% blocktrans %}
    You're receiving this email because you or someone else has requested a password reset for your user account
  {% endblocktrans %}
</div>
<h1
  style="
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-family: 'Nimbus Mono PS', 'Courier New', 'Cutive Mono', monospace;
    font-size: 32px;
    padding: 16px 24px 16px 24px;
  "
>
  <a href="{{ password_reset_url }}">
    {% blocktrans %} Click here to reset your password {% endblocktrans %}
  </a>
</h1>
{% if username %}
<div
  style="
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 16px 24px 16px 24px;
  "
>
  {% blocktrans %}In case you forgot your username is: {% endblocktrans %}
  <strong>{{ username }}</strong>
</div>
{% endif %}
<div
  style="
    color: #868686;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 16px 24px 16px 24px;
  "
>
  {% blocktrans with password_reset_timeout=password_reset_timeout %}
    This link will expire in {{ password_reset_timeout }} minutes.
  {% endblocktrans %}
</div>
<div
  style="
    color: #868686;
    font-size: 16px;
    font-weight: normal;
    text-align: center;
    padding: 16px 24px 16px 24px;
  "
>
  {% blocktrans %}
    This mail can be safely ignored if you did not initiate this action
  {% endblocktrans %}
</div>

{% endblock content %}
